[flake8]
exclude = .venv,.git,.tox,dist,doc,*lib/python*,*egg,build
ignore = E501, W503, E203

; E501: Line too long - ignored because black formatter limits to 100 chars
; W503: Line break occurred before binary operator - ignored because Black sometimes formats this way
; E203: whitespace before : - ignored because Black sometimes formats this way
